@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-college-ruled {
        background-color: white;
        background-image:
            linear-gradient(to bottom, rgba(173, 216, 230, 0.8) 1px, transparent 1px),
            /* light blue horizontal lines */
            linear-gradient(to right, rgba(255, 182, 193, 0.8) 2px, transparent 2px);
        /* light red vertical line */
        background-size: 100% 24px, 100% 100%;
        /* adjust the sizes for the lines */
        background-position: 0 12px, 32px 0;
        /* position the horizontal and vertical lines */
    }
    .custom-text {
        color: #0C0C0C;
        text-align: left;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #0C0C0C;
        font-family: var(--font-handlee);
        /* Ensure the font is imported in your project */
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: #FFC9F0;
        padding: 0.05em 0.05em;
        /* Add padding to make the highlight more visually appealing */
        display:flexbox;
        /* Ensure the background color applies only to the text */
    }
    
@media (min-width: 1024px) {

    /* For larger screens */
    .bg-college-ruled {
        background-position: 0 18px, 60px 0;
        /* Move the red line more inward */
    }
}
}